.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 480px;
  width: 100%;
  margin: auto;
  max-width: 700px;
}
.header {
  width: 100%;
  place-items: center;
  place-content: center;
}
.main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100%;
  width: 100%;
  background: #ccc;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100% ;
  align-content: center;
}
.nav--link {
  font-size: 28px;
  display: block;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #000;
  border-radius: 50%;
  border: 2px #000 solid;
  width: 36px;
  height: 36px;
}
.nav--link__active {
  background-color: #000;
  color: #fff;
}
.dash-block {
  height: 1px;
  background: #000;
  width: 10%;
}

.input-block {
  width: 90%;
}
.input-title {
  font-size: 18px;
}
.input-block input {
  width: 100%;
  height: 64px;
  border: solid 3px #333;
}

.checkbox {
  width: 90%;
}

.container-buttons {
  display: flex;
  height: 100%;
  justify-content: space-around;
  max-width: 500px;
  min-width: 300px;
}
.coin {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin--unchoosen {
  border: dashed 3px #333;

}

.button--main {
  width: 128px;
  height: 48px;
  background-color: rgb(223, 225, 228);
  border-radius: 16px;
  box-shadow: 1px 1px 10px black;
  margin: 5px;
}

.slider-item-list {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-flow: row wrap;
  width: 100%;
  margin: 16px 0;
}

.slider-item {
  place-items: center;
  place-content: center;
}
.slider-item:hover {
  cursor: pointer;
}
.slider-item--logo {
  border-radius: 50%;
}
.slider-item--title {
  width: 100%;
  margin-top: 15px;
  justify-content: center;
  display: flex;
}

.next-step-button {
  width: 90%;
  height: 64px;
  margin: 25px 0;
  background: rgb(100, 120, 145);
}

.course-block {
  display: flex;
  margin: 32px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.status-container {
  width: 60%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.status-message {
  align-items: start;
  display: flex;
  flex-direction: row;
}
.status-value {
  align-items: end;
  font-size: 28px;
}
.status-message, .status-value {
  font-size: 28px;
}

.drop-zone {
  width: 264px;
  height: 264px;
  background-color: #000;
  display: flex;
  place-items: center;
  place-content: center;
  color: #ccc;
  font-size: 36px;
}
.drag-item {
  width: 64px;
  height: 64px;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 1px solid #ccc;
}
