@import 'reset-css';

:root {
  --fs-h1: 48px;
  --fs-h2: 32px;
  --fs-subtitle: 20px;
  --fs-description: 18px;
  --color-main: 2, 49, 94;
  --color-secondary: 0, 69, 126;
  --color-accent: 128, 100, 145;
  --color-third: 47, 112, 175;
  --text-color-primary: 185, 132, 140;
  --text-color-white: 225, 225, 225;
  --text-color-completed: 25, 118, 210;
  --text-color-inactive: 128, 100, 145;
  --transition: all 5 ease;

  --border-gradient: conic-gradient(from 180deg at 50% 50%, #e92a67 0deg, #a853ba 112.5deg, #2a8af6 228.75deg, rgba(42, 138, 246, 0) 360deg);
}

body {
  background: rgb(var(--color-main));
  color: rgb(var(--text-color-primary));
  min-width: 375px;
  max-width: 450px;
  display: flex;
  margin: auto;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
.header {
  width: 100%;
  place-items: center;
  place-content: center;
}
.main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100%;
  width: 100%;
}
