
.coinWithoutBorder {
    border: 0;
}
.container {
    display: flex;
    min-width: 350px;
    max-width: 100%;
    margin: 12px;
    max-width: 430px;
    place-content: center;
    place-items: center;
    flex-direction: column;
    padding: 32px 12px 48px;
    background: var(--box-bg-dark);
    border-radius: 24px;
    border: solid 1px rgba(225,225,225, .3);
    overflow: hidden;
    
}
.title {
    display: flex;
    max-width: 90%;
    text-align: center;
    font-size: var(--fs-h2);
    margin: 12px;
}
.coin {
    border-radius: 50%;
    width: 164px;
    height: 164px;
    display: flex;
    justify-content: center;
    font-size: var(--fs-subtitle);
    align-items: center;
    box-shadow: 
                0 0 10px 100px rgba(3, 3, 3, .4),
                35px 35px 480px var(--bg-purple),
                -35px -35px 480px var(--bg-purple),
                -35px 35px 480px var(--bg-purple),
                35px -35px 480px var(--bg-purple),
                -45px -10px 480px var(--bg-purple),
                45px -10px 480px var(--bg-purple);
}
.drop-zone {
    width: 140px;
    height: 140px;
    background-color: #000;
    display: flex;
    place-items: center;
    place-content: center;
    color: #ccc;
    margin-top: 36px;
}
