.container {
    width: 90%;
    display: flex;
    margin: 12px auto;
    place-content: center;
    place-items: start;
    flex-direction: column;
}

.item {
    width: calc(95% - 20px);
    background: rgba(var(--color-secondary), .7);
    color: rgb(var(--text-color-primary));
    height: 48px;
    margin: auto;
    border: solid 1px rgb(var(--color-third));
    border-radius: 8888px;
    font-size: var(--fs-description);
    line-height: 20px;
    padding-left: 20px;
    transition-property: color, background-color, border-color, text-decoration-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .25s;
    outline: none;
}
.item::placeholder {
    color: rgb(var(--text-color-inactive));
}
.item:hover, .item:focus, .item:active, .item:target {
    background: rgb(var(--color-secondary));
    border: 1px solid rgb(var(--color-third));
    outline: none;
}
