.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100% ;
    align-content: center;
    padding: 24px 0 0;
}
.link {
    text-decoration: none;
}

.link span {
    font-size: var(--main-fs-subtitle);
}
